# Datasets
*.tar.gz
cifar-10-batches-py/
data/

# Python cache
__pycache__/
*.pyc

# Environments
.venv/

# Ignorar TODAS las imágenes generadas y de muestra
imagenes_generadas/*.png
muestras_entrenamiento/*.png

# Ignorar TODOS los modelos guardados...
modelos/*.pth
# ... ¡EXCEPTO el último modelo para que el proyecto sea ejecutable al clonar!
!modelos/latest_generator.pth

# Ignorar imagenes generadas para esteganografía
imagenes_esteganografia/*.png

